html{
    font-size: 62.5%;
}

*{
    margin: 0;
}

// primary font style
body{
    @include font-styles ($font-lato);
    line-height: 29px;
}


.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
}

.flex-container{
    display: flex;
}

// primary background color
main{
    background-color: $pale-mauve;
    padding: 100px 0;
}

figure{
    background-color: $orange;
    margin: 0;
}

img{
    display: block;
    width: 100%;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

h3{
    @include heading-style(5.2rem);
    line-height: 5.2rem;
    font-weight: 200;
    margin: 5px 0;
}

h4{
    margin-bottom: 20px;
}

a, 
button,
.hamburger-menu,
.anchor-container a,
.home-main .about a,
.form-container button{
    text-decoration: none;
    transition: color 0.5s, background-color 0.2s;
}

.anchor-container a:hover,
.anchor-container a:focus,
.form-container button:hover,
.form-container button:focus,
.home-main .about a:hover,
.home-main .about a:focus{
    background-color: $orange;
    color: $black;
}

a:hover, 
a:focus{
    color: $orange;
}

// form setup
.contact-info-container{
    justify-content: space-around;
    div{
        flex-grow: 1;
    }
}

fieldset {
    border: none;
    padding: 20px 0;
    flex-wrap: wrap;
}

input{
    width: 100%;
    border: none;
    border-bottom: 2px solid $orange;
    
}

input, textarea{
    padding: 15px 20px;
    background-color: inherit;
}

::placeholder {
    opacity: 1;
    font-size: 1.8rem; 
}

textarea{
    border: 2px solid $orange;
    flex: 1;
    min-height: 120px;
    resize: none;
    width: auto;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: $red-brown;
    color: $white;
    clear: both;

    a{
        color: $white;
    }
}

// media query to adjust form input margin
@media (min-width: 720px){
    fieldset div:nth-child(1){
        margin-right: 10px;
    }

    fieldset div:nth-child(2){
        margin-left: 10px;
    }
}