html{
    font-size: 62.5%;
}

*{
    margin: 0;
}

body{
    @include font-styles ($font-lato)
}

.wrapper{
    width: 80%;
    margin: 0 auto;
    max-width: 1280;
}

.flex-container{
    display: flex;
}

main{
    background-color: $pale-mauve;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover, 
a:focus{
    color: $orange;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: $red-brown;
    color: $white;

    a{
        color: $white;
    }
}