// general hearder style
header{
    padding-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    
    // add text shadow to logo
    // does not show properly on dark background
    span{
        text-shadow: 2px 2px $white;
    }

    // hamburger menu styling and positioning
    i {
        font-size: 2.9rem;
        position: absolute;
        top: 0px;
        right: 2px;
        background-color: $plum-purple;
        color: $pale-mauve;
        padding: 5px;
    }

    // menu checkbox styling and positioning
    [type="checkbox"]{
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        z-index: 2;
        height: 40px;
        width: 40px;
        opacity: 0;
    }

    // scale navbar to be visible when the checkbox is pressed i.e(hamburger icon is pressed)
    [type="checkbox"]:checked + .header-nav{
            transform: scale(1);
    }

    [type="checkbox"]:hover ~ .hamburger-menu{
        color: $orange;
        background-color: $pale-mauve;
    }

    .nav-container{
        position: relative;
        z-index: 20;
    }

    .header-logo-container{
        flex-wrap: wrap;
        @include font-styles($font-pompiere, 3.58rem);
        line-height: 36px;
        span{
            flex: 1 0 100%;
        }    
    }

    // navbar styling
    .header-nav{
            display: block;
            position: absolute;
            right: 2px;
            top: 0;
            width: 200px;
            transform: scale(0);
            transition: transform 0.3s;

        ul {
            display: block;
            border: 5px;
            background-color: $pale-mauve;
        }

        a{
            padding: 5px 15px;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            color: $plum-purple;
            border: 5px;
            width: 100%;
        }

        a:hover, 
        a:focus{
            color: $orange;
            background-color: $plum-purple;
        }
    }

    .heading-one-container{
        height: 55vh;
        display: flex;
        align-items: center;
    }

    // heading styleing on smaller screen
    h1{
        @include heading-style(6rem);
        text-transform: none;
        line-height: 40px;
        color: $plum-purple;
        text-shadow:  2px 2px $pale-mauve;
        position: relative;
        bottom: 20px;
        z-index: 10;
    }
}

// home page header style
.home-header{
    height: 85vh;
    background-image: url($home-header-bg-image-potrait);
    position: relative;

    img{
        position: absolute;
        top:200px;
        right: 0;
        width: 50vw;
        max-width: 650px;
    }    

    // homepage heading container
    .heading-one-container{
        align-items: center;
        height: 72vh;
        min-height: 460px;
        max-width: 300px;

        position: relative;
        bottom: 100px;
        left: 0;

        span{
            display: block;
        }
    }
}

// blog page header style
.blog-header{
@include header-style ($blog-header-bg-image-potrait);

    li:nth-child(3) {
        background-color: $plum-purple;
    }

    li:nth-child(3) a{
        color: $white;
    }

    li:nth-child(3) a:hover, 
    li:nth-child(3) a:focus{
        color: $orange;
    }
}

// contact page header style
.contact-header{
    @include header-style ($contact-header-bg-image);
    h1{
        line-height: 92px;
    }

    li:nth-child(4) {
        background-color: $plum-purple;
    }

    li:nth-child(4) a{
        color: $white;
    }

    li:nth-child(4) a:hover, 
    li:nth-child(4) a:focus{
        color: $orange;
    }
}

@media (max-height: 500px) and (max-width: 860px){
    .blog-header{
        height: 90vh;
        background-image: url($blog-header-bg-image);
    }
}

@media(min-width: 720px){
    header{
        .hamburger-menu,
        [type="checkbox"]{
            visibility: hidden;
        }

        .header-nav{
            flex: 1;
            display: flex;
            @include font-styles ($font-lato, 2rem, 700);
            align-items: flex-start;
            justify-content: flex-end;  
            position: static; 
            transform: scale(1); 

            ul {
                display: flex;
                align-items: flex-start;
                flex-basis: 450px;
                justify-content: space-between;

                // dark text does not show on dark background when the screen scale down
                background-color: rgba(255, 255, 255, 0.6);
            }

            li{
                display: inline-block;
                flex:1;
                text-align: center;
            }
            
            a{
                padding: 5px 15px;
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                color: $black;
            }
        }
    }

    .home-header{
        background-image: url($home-header-bg-image);
        li:nth-child(1) {
            background-color: $plum-purple;
        }

        li:nth-child(1) a{
            color: $white;
        }

        li:nth-child(1) a:hover, 
        li:nth-child(1) a:focus{
            color: $orange;
        }
    }

    //blog header image change
    .blog-header{
        background-image: url($blog-header-bg-image);
    }
}

@media(max-height: 775px) and (min-width: 950px){
    .home-header img{
        display: none;
    }
    .blog-header{
        background-size: cover;
        background-position: 0;
    }
}

@media (min-width: 1040px){
    .heading-one-container{
        h1{
            font-size: 10.1rem;
            line-height: 64px;
        }
    }
}







