.contact-main{
    padding: 80px 0;

    a, a:visited{
        color: $plum-purple;
    }

    a:hover,
    a:focus,
    a:active{
        color: $orange;
    }

    > div{
        flex-direction: column;
    }
    li {
        display: inline-block;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    h3{
        @include heading-style(3rem);
        text-transform: uppercase;
        color: $plum-purple;
        padding: 10px 0;
        font-weight: 200;
    }

    p{
        font-weight: 200;
        font-size: 1.7rem;
    }

    .conact-details{
        flex: 1 0 20%;
        text-align: center;
        margin-bottom: 50px;
    }

    .conact-form{
        flex: 1;
    }

    .contact-info-container{
        justify-content: space-around;
        div{
            flex-grow: 1;
        }
    }



    form{
        background-color: $white;
        padding: 50px;
    }

    button{
        width: 100%;
        @include anchor-button($red-brown);
        border: none;
    }
}

@media (min-width: 1040px){
    .contact-main{
        padding: 80px 0 0 0;

        .conact-details{
            margin-top: 50px;
            float: left;
            width: 25%;
            text-align: left;
        }

        .conact-form{
            width: 70%;
            float: right;
            background-color: $orange;
            position: relative;
            top: -200px;
            left: 0px;
        }

        form{
            position: relative;
            top: -40px;
            left: 40px;
        }

        textarea{
            min-height: 180px;
        }
    }
}