.outer-container{
    flex-direction: column;
    align-items: center;

    figure{
        background-color: $orange;
    }

    h3{
        margin: 40px 0;
    }

    p{
        margin-bottom: 40px;
    }

    .profile-pic{
        min-width: 70px;
        background-color: inherit;

        + article{
            padding-left: 20px;
            margin-bottom: 50px;
        }
    }

    .main-content{
        position: relative;
        top: -220px;
    }

    li:last-child article{
        margin-bottom: 0;
    }
}

.blog-main{
    padding-bottom: 0;
}

h5{
    @include heading-style(3rem);
    letter-spacing: 1.3px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.main-image{
    position: relative;
    bottom: 20px;
    left: 20px;
}

.shoes-around{
    background-color: $white;
    padding: 40px;

    h3{
        margin-bottom: 10px;
    }

    h4{
        margin-bottom: 30px;
    }
}

.conact-form{
    margin-bottom: 70px;
}

button{
    width: 100%;
    @include anchor-button($plum-purple);
    border: none;
}

.aside-container{
    background-color: $white;

    figure{
        background-color: $white;
    }
    img{
        position: relative;
        top: -20px;
        right: 20px;
    }

    li{
        list-style-type: disc;
        margin-left: 20px;
    }
}

aside{
    max-width: 440px;
    position: relative;
    top: -200px;

}

.aside-content{
    padding: 20px;
}

 // media query 720px and above
@media(min-width: 720px){
    
    li.flex-container figure{
        flex: 1 0 100px;
    }

    .aside-container img{
        width: 120%;
        right: 110px;
    }
}

// media query 700px and below
@media (max-height:700px){
    .blog-main .main-content{
        top: -100px;
    }

    aside{
        top: -80px;
    }
}

// media query width 1040px and above
@media (min-width: 1040px){
    .outer-container{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }

    .main-image{
        position: relative;
        bottom: 40px;
        left: 40px;
    }

    .main-content{
        flex-basis: 60%;

        > figure img{
            width: 115%;
        }
    }

    aside{
        order: -1;
        flex-basis: 30%;
        top: 0;
    }
}