// home-page-main
.home-main{    
    a{
        @include anchor-button($red-brown, $white);
    }

    .about{
        padding: 200px 0;

        a{
            @include anchor-button($plum-purple, $white);
        }
    }

    .about article{
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        text-align: center;
    }

    h2{
        @include heading-style(5.2rem, 1.2px);
        color: $plum-purple;
        text-transform: uppercase;
        font-weight: 200;
    }

    p{
        padding: 40px 0;
    }

    .options{
        background-color: $white;

        article{
            display: flex;
            align-items: center;
        }

        // figure{
        //     // position: relative;
        // }

        // img{
        //     // position: absolute;
        //     top: -40px;
        //     left: -40px;
        // }
    }
    
    .more-about-us{
        .more-about-us-flex{
            flex-wrap: wrap;
        }

        article{
            flex:1 0 50%;
            padding-bottom: 60px;

            div:nth-child(2){
                padding-left: 70px;
                padding-right: 20px;
            }
        }

        h2{
            line-height: 52px;
            color: $black;
        }

        .icon-container{
            position: absolute;
            width: 55px;
            height: 55px;
            background-color: $plum-purple;
            color: $white;
            border-radius: 50%;
        }

        i{
            position: relative;
            top: 12px;
            left: 10px;
            font-size: 3rem;
        }

        article:nth-child(3) i{
            left: 16px;
        }

        p{
            padding: 15px 0;

        }
    }

    .banner{
        height: 500px;
        background-image: url($home-banner-bg-image);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .popular{
        padding: 100px 0;
        background-color: $white;
    }

    .gallery {
        padding: 100px 0;

        ul{
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        li{
            width: calc((100% / 3) - 80px);
            // max-width: calc((1280px / 3) - 80px);
        }

        li:nth-child(odd){
            margin: 0 0 20px 0;
        }

        li:nth-child(2){
            margin: 0 40px 20px 40px;
        }

        img{
            width: 100%;
        }
    }
}

//blog-page-main
.blog-main{

}

// contact-page-main
.contact-main{

}