// fonts
    $font-pompiere: 'Pompiere', cursive;
    $font-lato: 'Lato', sans-serif;

// colors
    $black: #0d0d0d;
    $white: #ffffff;
    $orange: #fe6f19;
    $plum-purple: #4c0341;
    $pale-mauve: #fae5ff;
    $red-brown: #882c07;

// bg-image url
    $home-header-bg-image: '../../shoe-kloset-assets/header-image.jpg';
    $home-header-bg-image-potrait: '../../shoe-kloset-assets/header-image-home.jpg';

    $blog-header-bg-image: '../../shoe-kloset-assets/blog-header.jpg';
    $blog-header-bg-image-potrait: '../../shoe-kloset-assets/header-image-blog.jpg';

    $contact-header-bg-image: '../../shoe-kloset-assets/contact-image.jpg';

    $home-banner-bg-image: '../../shoe-kloset-assets/banner.jpg';


// mixins
    // font styles
        @mixin font-styles($name, $size: 2rem, $weight: 400) {
            font-family: $name;
            font-size: $size;
            font-weight: $weight;
        }

    // headings style
        @mixin heading-style ($size, $name: $font-pompiere){
            font-size: $size;
            font-family: $name;
            text-transform: uppercase;
            font-weight: 200;
            color: $plum-purple;
        }

    // only used for blog and contact page
        @mixin header-style($url, $bg-height: 70vh) {
            background-image: url($url);
            height: $bg-height;

            .heading-container{
                justify-content: center;
                align-items: center;
            }

            .heading-container h1{
                text-transform: uppercase;
                font-size: 8rem;
            }
        }

    // anchor buttons
        @mixin anchor-button($bg-color, $color: $white){
            text-transform: uppercase;
            padding: 10px 20px;
            background-color: $bg-color;
            color: $color;
        }
