@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pompiere&display=swap);
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 29px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main {
  background-color: #fae5ff;
}

figure {
  background-color: #fe6f19;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #fe6f19;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #882c07;
  color: #ffffff;
}

footer a {
  color: #ffffff;
}

header {
  padding-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

header .header-logo-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Pompiere", cursive;
  font-size: 3.58rem;
  font-weight: 400;
  line-height: 36px;
}

header .header-logo-container span {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

header .header-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: none;
}

header .header-nav ul {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 450px;
      flex-basis: 450px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-nav a {
  padding: 5px 15px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #0d0d0d;
}

header .header-nav a:hover,
header .header-nav a:focus {
  color: #fe6f19;
}

header h1 {
  font-family: "Pompiere", cursive;
  font-size: 4rem;
  font-weight: 400;
  line-height: 36px;
  color: #4c0341;
  margin-top: 50px;
  position: relative;
  z-index: 1;
}

.home-header {
  height: 85vh;
  background-image: url("../../shoe-kloset-assets/header-image.jpg");
  position: relative;
}

.home-header img {
  position: absolute;
  top: 200px;
  right: 0;
  width: 50vw;
  max-width: 700px;
}

.home-header li:nth-child(1) {
  background-color: #4c0341;
}

.home-header li:nth-child(1) a {
  color: #ffffff;
}

.home-header li:nth-child(1) a:hover,
.home-header li:nth-child(1) a:focus {
  color: #fe6f19;
}

.home-header .heading-one-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}

.home-header .heading-one-container span {
  display: block;
}

.blog-header {
  background-image: url("../../shoe-kloset-assets/blog-header.jpg");
  height: 70vh;
}

.blog-header .heading-one-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-header h1 {
  text-transform: uppercase;
  font-size: 8rem;
  letter-spacing: 92px;
  font-family: "Pompiere", cursive;
}

.blog-header li:nth-child(3) {
  background-color: #4c0341;
}

.blog-header li:nth-child(3) a {
  color: #ffffff;
}

.blog-header li:nth-child(3) a:hover,
.blog-header li:nth-child(3) a:focus {
  color: #fe6f19;
}

.contact-header {
  background-image: url("../../shoe-kloset-assets/contact-image.jpg");
  height: 70vh;
}

.contact-header .heading-one-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-header h1 {
  text-transform: uppercase;
  font-size: 8rem;
  letter-spacing: 92px;
  font-family: "Pompiere", cursive;
}

.contact-header li:nth-child(4) {
  background-color: #4c0341;
}

.contact-header li:nth-child(4) a {
  color: #ffffff;
}

.contact-header li:nth-child(4) a:hover,
.contact-header li:nth-child(4) a:focus {
  color: #fe6f19;
}

.home-main a {
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: #882c07;
  color: #ffffff;
}

.home-main .about {
  padding: 100px 0;
}

.home-main .about a {
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: #4c0341;
  color: #ffffff;
}

.home-main .about article {
  text-align: center;
}

.home-main h2 {
  font-family: "Pompiere", cursive;
  font-size: 5.2rem;
  line-height: 50px;
  letter-spacing: 1.6px;
  color: #4c0341;
  text-transform: uppercase;
  font-weight: 200;
}

.home-main p {
  padding: 40px 0;
}

.home-main .options-1st {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 60px;
}

.home-main .options-1st .new-addition {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-main .options-1st figure {
  margin: 0 0 70px 0;
  position: relative;
  top: 20px;
  left: 15px;
}

.home-main .options-1st img {
  width: 100%;
  position: relative;
  top: -30px;
  left: -30px;
}

.home-main .options-1st article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home-main .options-2nd {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 60px;
}

.home-main .options-2nd .more-options {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-main .options-2nd figure {
  margin: 0 0 70px 0;
  position: relative;
  top: 20px;
  left: 15px;
}

.home-main .options-2nd img {
  width: 100%;
  position: relative;
  top: -30px;
  left: -30px;
}

.home-main .options-2nd article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home-main .more-about-us {
  padding-top: 70px;
}

.home-main .more-about-us .more-about-us-flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-main .more-about-us article {
  padding-bottom: 60px;
}

.home-main .more-about-us article div:nth-child(2) {
  padding-left: 70px;
  padding-right: 20px;
}

.home-main .more-about-us h2 {
  color: #0d0d0d;
  letter-spacing: 1.6px;
}

.home-main .more-about-us .icon-container {
  position: absolute;
  width: 55px;
  height: 55px;
  background-color: #4c0341;
  color: #ffffff;
  border-radius: 50%;
}

.home-main .more-about-us i {
  position: relative;
  top: 12px;
  left: 10px;
  font-size: 3rem;
}

.home-main .more-about-us article:nth-child(3) i {
  left: 16px;
}

.home-main .more-about-us p {
  padding: 15px 0;
}

.home-main .banner {
  height: 40vw;
  max-height: 500px;
  background-image: url("../../shoe-kloset-assets/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.home-main .popular {
  padding: 100px 0;
  background-color: #ffffff;
}

.home-main .popular > .flex-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-main .popular > .flex-container .flex-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.home-main .popular h2 {
  line-height: 60px;
  font-size: 5.2rem;
  letter-spacing: 1.2px;
  font-family: "Pompiere", cursive;
}

.home-main .popular p {
  padding-top: 20px;
}

.home-main .popular figure {
  margin: 0 0 30px 0;
  position: relative;
  top: 20px;
  left: 20px;
}

.home-main .popular img {
  width: 100%;
  position: relative;
  top: -30px;
  left: -30px;
}

.home-main .popular figure, .home-main .popular img {
  max-height: 320px;
  max-width: 320px;
}

.home-main .gallery {
  padding: 100px 0;
}

.home-main .gallery ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-main .gallery li:nth-child(2) {
  margin: 40px 0;
}

.home-main .gallery img {
  width: 100%;
}

@media (min-width: 760px) {
  .home-main .more-about-us {
    padding: 180px 0 50px 0;
  }
  .home-main .more-about-us article {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .home-main .gallery li,
  .home-main .gallery li:nth-child(2) {
    margin: 0 20px;
    width: calc(33.334%  - 40px);
  }
}

@media (min-width: 1040px) {
  .home-main .popular > .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .home-main .popular > .flex-container figure {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
    min-width: 320px;
  }
  .home-main .popular > .flex-container .flex-container {
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: flex-start;
    padding-left: 100px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60%;
            flex: 1 1 60%;
  }
}
